<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>JSP</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>RegisterUser</servlet-name>
		<servlet-class>com.jsp.RegistrationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegisterUser</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogInUser</servlet-name>
		<servlet-class>com.jsp.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogInUser</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>View</servlet-name>
		<servlet-class>com.jsp.ViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View</servlet-name>
		<url-pattern>/view-user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Edit</servlet-name>
		<servlet-class>com.jsp.EditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Edit</servlet-name>
		<url-pattern>/edit-user/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>com.jsp.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete-user/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Welcome</servlet-name>
		<servlet-class>com.jsp.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.jsp.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
</web-app>